/* font-family: 'Bangers', cursive;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Faster One', cursive;
font-family: 'Sigmar One', cursive;*/

body {
    background-image: url('../images/curve.jpg');
    background-size: contain;
};

#head {
    text-align: center;
    color:white;
}

h1{
    color:white;
    text-align:center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.table, form{
    border:solid 2px rgba(75, 182, 182, 0.904);
    background-color:rgba(206, 183, 165, 0.712);
}

h3{
    color:whitesmoke;
    border:solid 2px rgba(75, 182, 182, 0.904);
    background-color:rgba(206, 183, 165, 0.712);
    width:290px;
    text-align:center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}